.DS_Store
.bin
.bundleignore
.bundle
.byebug_history
.git
.gitattributes
.github
.gitignore
.idea
.rspec

.docker/
Dockerfile
docker-compose.yml
docker-compose-tests.yml
.env
.env.test
.env.template

README.md
docs/

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

test
coverage
capybara-*.html

/yarn-error.log
yarn-debug.log*
.yarn-integrity

TAGS
 