<div class="footer"> 
    
    <div class="Copyright">
        <span class="sporthubFooter">Sports Hub</span>
        <div>
        <span class="PrivacyTerms">Copyright ©2019 Sports Hub</span>
        <span class="PrivacyTerms">Privacy / Terms</span>
        </div>
    </div>

    
</div>