<%# Admin Side navbar %>
  <nav class="nav">
    <div class="nav-item-1">
      <h1 class="logo">Sports Hub</h1>
    </div>
    <div class="nav-item-2">
      <input type="text" class="input-search" />
    </div>
    <div class="nav-item-3">
      <ul class="nav-item-list">
        <li class="share">Share</li>
        <li class="facebook"></li>
        <li class="twitter"></li>
        <li class="google-plus"></li>
      </ul>
    </div>
    <div class="nav-item-4">
      <ul class="nav-item-list">
        <li class="btn">Sign up</li>
        <li class="btn">Log in</li>
        <li class="lang-drop">EN</li>
      </ul>
    </div>
  </nav>

