<%= render "home_page/navbar"%>
<div class="content">
<h1>HomePage#home</h1>
<p>Find me in app/views/home_page/home.html.erb</p>
<%= link_to "Create Post page", new_users_article_path%>
</div>
<%= render "home_page/footer"%>