<aside>
    <nav>
        <div class="sport_hub_logo">
            <a class="a_sport_hub" href="">Sports Hub</a>
        </div>
    </nav>
</aside>

<div class="log_menu">
    <nav>
        <ul class="flex_menu">
            <li class="btn1">
                <a class="a_no_acc" href="">Don’t have an account?</a>
            </li>
            <li class="btn2">
                <a class="a_get_started" href="">Get Started</a>
            </li>
        </ul>
    </nav>
</div>

<div class="main">
    <h1 class="h_log">Log in to Sports Hub</h1>
    <div class="log_nav">
        <nav>
            <ul class="flex_btns">
                <li class="facebook_nav">
                    <a href=""><%= image_tag "FB.png" %></a>
                </li>
                <li class="google_nav">
                    <a class="a_gmail" href=""><%= image_tag "Gmail.png" %></a>
                </li>
            </ul>
        </nav>
    </div>
    <h2 class="h_email_log">Email address</h2>
    <input placeholder="Email@gmail.com" class="input_email">
    <div class="flex_pass">
        <h2 class="h_email_log">Password</h2>
        <a class="a_forgot_pass" href="">Forgot password?</a>
    </div>
    <input type="password" placeholder="8 + characters (letters and numbers)" class="input_email">
    <div>
        <button class="btn_log_in">LOG IN</button>
    </div>
</div>