<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="./scss/main.css" />
  </head>
  <body>
    <!-- you already have it: -->
    <div class="container-header">
      <nav>
        <div class="container-logo">
          <h1>Sports Hub</h1>
        </div>
        <div>
          <button class="btn iconed icon-switch-account"></button>

          <img
            src="../../assets/images/user-and-lang/My avatar.svg"
            alt="user-profile"
          />
          <img
            src="../../assets/images/user-and-lang/Group 23.svg"
            alt="lang-switcher"
          />
        </div>
      </nav>
    </div>
    <div class="container-btw-header-nav">
      <div class="container-logo">
        <h2 id="current-menu-item">NBA</h2>
      </div>
      <button class="btn btn-new-article">+ New Article</button>
    </div>
    <div class="container-navbar">
      <nav>
        <div class="container-left-icon-btn">
          <button class="btn iconed icon-arrow-left"></button>
        </div>

        <!-- it may be button or link. -->
        <!-- depends on  -->

        <div class="container-opts">
          <span class="nav-opt">home</span>
          <span class="nav-opt">nba</span>
          <span class="nav-opt">nfl</span>
          <span class="nav-opt">mlb</span>
          <span class="nav-opt">nhl</span>
          <span class="nav-opt">cbb</span>
          <span class="nav-opt">cfb</span>
          <span class="nav-opt">nascar</span>
          <span class="nav-opt">golf</span>
          <span class="nav-opt">video</span>
          <span class="nav-opt">lifestyle</span>
          <span class="nav-opt">dealbook</span>
        </div>

        <button class="btn iconed icon-arrow-right"></button>
      </nav>
    </div>
    <div class="main-page">
      <div class="container-left-icons">
        <button class="btn iconed surveys"></button>
        <button class="btn iconed banners"></button>
        <button class="btn iconed languages"></button>
        <button class="btn iconed footer"></button>
        <button class="btn iconed social-networks"></button>
        <button class="btn iconed users"></button>
        <button class="btn iconed ia"></button>
        <button class="btn iconed teams"></button>
        <button class="btn iconed new-partners"></button>
        <button class="btn iconed advertising"></button>
      </div>
      <div class="container-main-content"></div>
    </div>
  </body>
</html>
