*{
    margin: 0;
    padding: 0;
}

.form-group{
    margin-top: 19px;
}



.login-buton{
    background: #D72130;
    color:  white;
    width: 390px;
    height: 42px;
    margin-top: 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;

    letter-spacing: 0.9px;
    text-transform: uppercase;

}

.forgot-password{
    
    margin-left: 229px;
    margin-bottom: 0;
    text-decoration: none;
    color: #4A90E2;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    display: inline;
}


.left-section img{   
    width:642px; 
    height: 1024px;
    float: left;
}


.sport-hub-login-page {

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;   
    color: white;
    background: #D72130;
    padding: 26px 66px 29px 68px;  
    height: 83px;
    width: 253px;
    position: absolute;
    top: 0;
}


.right-section {    
    
    display: inline-block;
    position: relative;
    top: 330px;
    left: 204px;
    
}


.log-in-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;  
    color: #000000;
}

.nav-bar-login-page{
    float: right;
    
  }
  
  .nav-bar-ul-login-page{
    
    position: relative;
    bottom: -20px;
    display: flex;
}


.li-nav-bar-link-login-page{
    list-style: none;
    margin-right: 35px;  
}


#nav-bar-link-2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #D72130; 
    border: 1px solid #D72130;
    box-sizing: border-box;
    padding: 8px 32px 7px 31px;
    text-decoration: none;

}


#nav-bar-link-1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #434C5D;
    text-decoration: none;
}

.form-login{
    margin-top: 20px;
}



.input-login{
    border: 1px solid #D4D9E2;
    box-sizing: border-box;
    width: 390px;
    height: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    
    color: #C6CCD7;
    padding-left: 16px ;
    opacity: 40%;
    padding-top: 8px;
}

.login-text{
    margin-top: 19px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
    display: inline;
    
}


#icon-login-with-fasebook    {
    font-family: 'Roboto';
    font-weight:900 ;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8.78px 14px 7.11px 14px;
    border-radius: 50%;  
}

#icon-login-with-google{
    font-family: 'Roboto';
    font-weight:900 ;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8.78px 12px 7.11px 12px;
    border-radius: 50%;  
}


.Login-with{
    margin-top: 20px;
    display: flex;
    padding: 0;
}

.Login-with li{
    list-style: none;
    margin-right: 12px;     
}