<%= render "home_page/navbar"%>

<ul class="nav justify-content-center" id="cabinet-nav">
  <li class="nav-item">
    <a class="nav-link link-dark list-group-item personal" href="/cabinet/personal">Personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark list-group-item password" href="/cabinet/password">Change password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark list-group-item surveys" href="/cabinet/surveys">My surveys</a>
  </li>
  <li class="nav-item">
   <%= link_to "Teamhub", '/teams', class: "nav-link link-dark list-group-item hub", method: :get %> 
    
  </li>
</ul>


<script>
let tabs = document.getElementsByClassName("list-group-item");
for (let i = 0; i < tabs.length; i++) {
  tabs[i].addEventListener("click", function() {
  console.log(tabs[i]);
  let current = document.getElementsByClassName("active_link");
  console.log(current);
  if (current.length > 0) { 
    current[0].className = current[0].className.replace(" active_link", "");
  }
  this.classList.toggle("active_link")
  console.log(tabs[i]);
  console.log(current);
  });
}
</script>