<form>
    <label for="oldpassword">OLD PASSWORD</label><br>
    <input type="password" id="oldpassword" name="oldpassword"><br>

    <label for="newpassword">NEW PASSWORD</label><br>
    <input type="password" id="newpassword" name="newpassword"><br>

    <label for="passwordconfirmation">PASSWORD CONFIRMATION</label><br>
    <input type="password" id="passwordconfirmation" name="passwordconfirmation"><br>
</form>