<%= form_for @article do |f|%>

<div>
    <div>
        <%= f.select(:conference, ['1', '2', '3'], {}, {:class => 'my_style'})  %>
    </div>
    <div>
        <% teams_array = Team.all.collect {|team| [team.name, team.id] }%>
        <%= f.collection_select(:team_id,) %>
    </div>
</div>