form {
  margin-left:auto;
  margin-right:auto;
  width: 100px;
}

.cabinet_field {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #D4D9E2;
    box-sizing: border-box;
    width: 400px;
    height: 42px;
    text-indent: 10px;
}

.nav-item {
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.form_submit {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #D72130;    
    color: white;
    display: block;
    width: 400px;
    height: 42px;
}

img {
    margin: 20px;
    display: block;
    max-width: 100%;
    height: 120px;
    width: 120px;   
  }

.cabinet_field_label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #000000;
    width: 200px;
    height: 11px;
  }

.form-group {
    margin: 20px 0px;
    width: 400px;
}

.cabinet_field::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;    
    color: #C6CCD7;
  }

.active_link, .list-group-item:hover {
    color: red;
    border-style: none;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: scale(1.1);
}

.form_change_password {
  margin: 100px 0px 0px 0px;
}

.bi {
  cursor: pointer;
}