*{
  margin: 0;
  padding: 0;
}
.cabinet_field {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #D4D9E2;
    box-sizing: border-box;
    width: 400px;
    height: 42px;
    text-indent: 10px;
}

.nav-item {
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.form_submit {
   
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #D72130;    
    color: white;
    display: block;
    width: 400px;
    height: 42px;
}

.profile_image {
    margin: 20px;
    display: block;
    max-width: 100%;
    height: 120px;
    width: 120px;   
  }

.cabinet_field_label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #000000;
    width: 200px;
    height: 11px;
  }


.cabinet_field::placeholder {
    
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;    
    color: #C6CCD7;
  }

.active_link, .list-group-item:hover {
    color: red;
    border-style: none;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: scale(1.1);
}

.form_change_password {
  margin: 100px 0px 0px 0px;
}

.bi {
  cursor: pointer;
}

.cabinet_nav {
  margin-top: 100px;
}

.cabinet-form{
  display: flex;
  justify-content: center;
}

.form_change_password_submit {
  margin-top: 5%;
  width: 400px;
}




/*TeamHub*/

.followed-teams{
  overflow: hidden;
}

.followed-teams{
  width: 280px;
  background: #F8F8F8;
}

.followed-teams h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #434C5D;
  padding-left: 20px;
}
.manage-team-list{
  margin-top: 32px;
  padding-left: 20px;
}
.manage-team-list a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #D72130;
  text-decoration: none;
}
.content-teams span{
  display: block;
}
.content-teams p span:nth-child(1){
  font-family: 'Open Sans';   
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}
.content-teams p span:nth-child(2){
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7F7B7B;
 
}


.content-teams {
padding-top: 30px;
padding-left: 19px;
border-bottom: 1px solid #F2F2F2;
position:relative;
}


#cansel_follow{
  width: 12px;
  position: absolute;
  right: 10px;
  top:50%;
  cursor: pointer;
  visibility: hidden;
}


.content-teams:hover{
  background: rgba(215, 33, 48, 0.11);
  transition: all 0.3s ease;
}
.content-teams:hover #cansel_follow{
  visibility:visible;
}

.content-teams img{
  float: left;
  margin-right: 17px;
  width: 60px;
  border-radius: 50%;
}


.groups-content{
  
  height:297px;
  width:294px;
  overflow-y:scroll;
}



/**/