.p_forgot {
    color: #596377;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 265px;
}

.btn_forgot_pass {
    padding: 15px 140px;
    margin-top: 34px;
    background: #D72130;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: inherit;
    font-style: normal;
    text-transform: uppercase;
}

.p_back_log_in {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    display: flex;
    justify-content: center;
}