// Place all the styles related to the Home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.notice,
.alert {
  display: none;
}

div {
  border: 1px solid red;
}

sub_article {
	width: 828px;
	height: 294px;
	left: 241px;
	top: 657px;

	display: flex;
	justify-content: space-between;
}

.sub1 {
	width: 202px;
	height: 294px;
}

.sub2 {
	width: 202px;
	height: 294px;
}

.sub3 {
	width: 202px;
	height: 294px;
}

.sub4 {
	width: 202px;
	height: 294px;
}