@import "./colors.scss";
.nav {
  width: 100%;
  height: 83px;
  display: flex;
  flex-direction: row;
  margin: 0;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid;
  border-color: $white;
}

.nav-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
  height: 100%;
  min-width: 13%;
  background-color: $red-main;
}

.nav-item-2 {
  width: 30%;
  padding-left: 38px;
  .nav-item-list {
    justify-content: flex-start;
    align-items: center;
  }
}

.nav-item-3 {
  display: flex;
  align-items: center;
  width: 26%;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: $white;
  padding: 0 auto;

  .nav-item-list {
    padding: 0 10%;
    margin: 0;
    justify-content: space-between;
  }
}

.nav-item-4 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  .nav-item-list {
    width: 100%;
  }
}

.logo {
  text-align: center;
  color: $white;
}

.input-search {
  width: inherit;
  margin-left: 24.3px;
  border: none;
  outline: none;
  &::placeholder {
  }
}

.nav-item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  li {
    list-style: none;
  }
}

.facebook,
.twitter,
.google-plus {
  display: block;
}

.facebook {
}

.twitter {
}

.google-plus {
}

.share {
}

.facebook {
}

.twitter {
}

.google-plus {
}

.btn {
  color: $red-main;
}

.btn-outline {
  border: solid 1px rgba(198, 54, 56, 1);
  padding: 7px 36px;
  border-radius: 0;
}

.dropdown {
  float: right;
  min-width: 45px;
}

.nav-item-list {
  padding-right: 10px;
}

.dropdown .drop-btn {
  position: relative;
  border: none;
  outline: none;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  height: 107.5px;
  width: max-content;
  max-width: 180px;
  min-width: 56px;
  align-items: center;
}

.dropdown-content .dropdown-field:hover {
  background-color: rgba(215, 33, 48, 0.11);
  color: $red-main;
}

.dropdown-content .dropdown-field.survey:hover {
  font-size: 18px;
}

.dropdown-content .dropdown-field {
  width: 100%;
  height: 33%;

  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop-btn {
  background: none;
  padding: 0;
  padding-left: 5px;
}
.link-text-in-dropdown {
  color: $black;
  text-decoration: none;
}
.link-text-in-dropdown:hover {
  color: $red-main;
  text-decoration: none;
}
