.p_use_email {
    color: #434C5D;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
}

.name_inputs {
    display: flex;
    border: 1px solid #D4D9E2;
    padding: 13px 16px;
    width: 158px;
    margin-top: 8px;
}

.name_margin_left {
    margin-left: 40px;
}

.name_margin_top {
    margin-top: 20px;
}

.btn_sign_in {
    padding: 15px 184px;
    margin-top: 34px;
    background: #D72130;
    color: white;
    border: inherit;
    font-style: normal;
}